<div class="min-h-screen bg-base-100 py-8">
  @if (!promotion) {
  <div class="flex justify-center items-center h-96">
    <div class="loading loading-spinner loading-lg text-primary"></div>
  </div>
  } @else if (promotion) {
  <div class="container mx-auto px-4 xl:max-w-5xl 2xl:max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-12">
      <div class="flex justify-stretch">
        @for (cd of promotion.cds; track cd.id; let i = $index, count = $count) {
        <figure class="overflow-hidden" [ngClass]="`w-1/${count}`">
          <img
            [src]="cd.imageUrl || '/assets/images/default-album.png'"
            [alt]="cd.title"
            class="w-full h-full object-cover"
          />
        </figure>
        }
      </div>

      <div class="space-y-6">
        <div>
          <h1 class="text-6xl font-bold font-serif mb-4">{{ promotion.name }}</h1>
          <h2 class="text-3xl text-base-content/70 mb-6">{{ promotion.description }}</h2>
          <div class="flex flex-wrap gap-4 items-center mb-4 text-xl">
            <span class="line-through text-base-content/60">
              {{ price(promotion) | currency : 'GTQ' : 'symbol-narrow' }}
            </span>
            <span class="font-bold text-2xl">
              {{ discounted(promotion) | currency : 'GTQ' : 'symbol-narrow' }}
            </span>
            <span class="badge badge-success badge-soft rounded-bl-3xl rounded-tl-3xl">
              <span class="animate-ping rounded-full bg-error size-1"></span>
              <i-lucide [img]="Discount" size="18" />
              {{ promotion.groupTypeDiscount | percent }}
            </span>
          </div>
        </div>

        <shop-add-item
          [id]="promotion.id"
          productType="discographies"
          [stock]="stock(promotion)"
          btnClass="btn-xl"
        />

        <div class="flex flex-col gap-3">
          @for(detail of details(promotion); track detail.label) { @if (detail.condition ===
          undefined || detail.condition) {
          <div class="flex items-center gap-2">
            <i-lucide [img]="detail.icon" size="24" class="text-ctp-teal" />
            <span class="font-bold">{{ detail.label }}:</span>
            <span class="text-base-content/80">{{ detail.value }}</span>
          </div>
          } }
        </div>

        @if (userRole === 'ADMIN') {
        <div class="flex gap-4">
          <button class="btn btn-soft btn-error btn-sm" (click)="delete()">
            <i-lucide [img]="Delete" size="20" />
            Eliminar
          </button>

          <button class="btn btn-soft btn-warning btn-sm">
            <i-lucide [img]="Edit" size="20" />
            Editar
          </button>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
