<span class="text-lg font-semibold text-base-content/70">Filtrar por:</span>

<form [formGroup]="filtersForm" (ngSubmit)="filterDiscography()" class="flex flex-col gap-2">
  <fieldset class="fieldset">
    <legend class="fieldset-legend" [class.text-accent]="filtersForm.get('genreId')?.value">
      <span>Género</span>
    </legend>
    <select
      formControlName="genreId"
      name="genreId"
      class="select select-sm select-bordered w-full"
    >
      <option selected value="0">Cualquier género</option>
      @for (genre of genres; track genre) {
      <option [ngValue]="genre.id">{{ genre.name }}</option>
      }
    </select>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend" [class.text-accent]="filtersForm.get('format')?.value">
      <span>Formato</span>
    </legend>
    <select formControlName="format" name="format" class="select select-sm select-bordered w-full">
      <option selected value="">Cualquier formato</option>
      <option value="VINYL">Vinilo</option>
      <option value="CASSETTE">Cassette</option>
      <option value="CD">CD</option>
    </select>
  </fieldset>

  <fieldset class="fieldset flex flex-row items-center w-full gap-4">
    <label [class.text-accent]="filtersForm.get('bestSellers')?.value">
      <input
        type="checkbox"
        formControlName="bestSellers"
        name="bestSellers"
        class="checkbox checkbox-sm"
      />
      Mas Vendidos
    </label>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend flex justify-between items-center w-full">
      <span>Precio</span>
    </legend>

    <div>
      <legend
        class="fieldset-legend flex justify-between items-center w-full"
        [class.text-accent]="filtersForm.get('priceMin')?.value"
      >
        <span>Mínimo</span>
        <span class="text-base-content/70">
          {{ -(filtersForm.get('priceMin')?.value || 0) | currency : 'GTQ' : 'symbol-narrow' }}
        </span>
      </legend>
      <input
        type="range"
        min="-1000"
        max="0"
        formControlName="priceMin"
        name="priceMin"
        class="range range-xs rotate-y-180"
      />
    </div>

    <div>
      <legend
        class="fieldset-legend flex justify-between items-center w-full"
        [class.text-accent]="filtersForm.get('priceMax')?.value"
      >
        <span>Máximo</span>
        <span class="text-base-content/70">
          {{
            1000 + (filtersForm.get('priceMax')?.value || 0) | currency : 'GTQ' : 'symbol-narrow'
          }}
        </span>
      </legend>
      <input
        type="range"
        min="-1000"
        max="0"
        formControlName="priceMax"
        name="priceMax"
        class="range range-xs"
      />
    </div>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend" [class.text-accent]="filtersForm.get('stock')?.value">
      <span>Existencias</span>
    </legend>
    <input
      type="number"
      formControlName="stock"
      name="stock"
      placeholder="Cualquier cantidad"
      class="input input-sm input-bordered w-full"
    />
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend" [class.text-accent]="filtersForm.get('title')?.value">
      <span>Titulo</span>
    </legend>
    <input
      type="text"
      formControlName="title"
      name="title"
      placeholder="Cualquier titulo"
      class="input input-sm input-bordered w-full"
    />
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend" [class.text-accent]="filtersForm.get('artist')?.value">
      <span>Artista</span>
    </legend>
    <input
      type="text"
      formControlName="artist"
      name="artist"
      placeholder="Cualquier artista"
      class="input input-sm input-bordered w-full"
    />
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend" [class.text-accent]="filtersForm.get('year')?.value">
      <span>Año</span>
    </legend>
    <input
      type="number"
      formControlName="year"
      name="year"
      placeholder="Cualquier año"
      class="input input-sm input-bordered w-full"
    />
  </fieldset>

  <button
    type="submit"
    class="btn btn-soft w-full font-semibold"
    [class.btn-primary]="!waiting()"
    [class.btn-disabled]="waiting()"
  >
    @if (waiting()) {
    <span class="loading loading-dots loading-xs"></span>
    } @else { Filtrar }
  </button>
</form>
