<div class="bg-base-100 pt-8">
  <div class="container mx-auto xl:max-w-6xl 2xl:max-w-7xl p-4 lg:p-0">
    <div class="mb-8">
      <h1 class="text-5xl font-bold font-serif mb-4">Inventario</h1>
      <p class="text-xl text-base-content/70">Revisa y gestiona el stock de tus productos</p>
    </div>
  </div>
</div>

<div class="container mx-auto xl:max-w-6xl 2xl:max-w-7xl p-2 lg:p-0">
  <div class="tabs tabs-boxed bg-base-300 shadow-sm mb-6 justify-evenly">
    <input
      type="radio"
      name="inventory-tabs"
      class="tab w-full lg:w-1/3"
      [ngClass]="tab() === 0 ? 'tab-active bg-primary/20' : ''"
      (click)="tab.set(0)"
      aria-label="Entradas"
    />
    <input
      type="radio"
      name="inventory-tabs"
      class="tab w-full lg:w-1/3"
      [ngClass]="tab() === 1 ? 'tab-active bg-primary/20' : ''"
      (click)="tab.set(1)"
      aria-label="Salidas"
    />
    <input
      type="radio"
      name="inventory-tabs"
      class="tab w-full lg:w-1/3"
      [ngClass]="tab() === 2 ? 'tab-active bg-primary/20' : ''"
      (click)="tab.set(2)"
      aria-label="Actualizar Stock"
    />
  </div>
  <div class="bg-base-300 rounded-lg shadow-md p-6 overflow-x-auto max-w-[95dvw]">
    @if (tab() === 0) {
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-3xl font-semibold">Registro de Entradas de Existencias</h2>
    </div>

    <div>
      @if (waiting()) {
      <span class="loading loading-dots loading-xl"></span>
      } @else if (!purchases?.length) {
      <div class="text-center text-accent h-full flex items-center">
        <p class="text-5xl">No hay entradas de existencias registradas...</p>
      </div>
      } @else {
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th>Artículo</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total</th>
            <th>Usuario</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          @for (purchase of purchases; track purchase.id) {
          <tr>
            <td>
              <div class="flex items-center gap-3">
                <figure class="overflow-hidden aspect-square size-12">
                  <img
                    [src]="purchase.discographyImageUrl"
                    [alt]="purchase.discographyTitle"
                    class="w-full h-full object-cover"
                  />
                </figure>
                <div>
                  <div class="font-bold">{{ purchase.discographyTitle }}</div>
                  <div class="text-sm text-base-content/70">{{ purchase.discographyArtist }}</div>
                </div>
              </div>
            </td>
            <td>{{ purchase.quantity }}</td>
            <td>{{ purchase.unitPrice | currency : 'GTQ' : 'symbol-narrow' }}</td>
            <td>{{ purchase.total | currency : 'GTQ' : 'symbol-narrow' }}</td>
            <td>{{ purchase.username }}</td>
            <td>{{ purchase.createdAt | date : 'dd/MM/yyyy' }}</td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
    } @if (tab() === 1) {
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-3xl font-semibold">Registro de Salidas</h2>
      <div class="flex gap-2">
        <select
          class="select select-bordered"
          name="status"
          [formControl]="status"
          (change)="changeStatus()"
        >
          <option value="" selected>Filtrar por estado</option>
          <option value="PAID">Procesando</option>
          <option value="SENT">Enviado</option>
        </select>
      </div>
    </div>

    <div>
      @if (waiting()) {
      <span class="loading loading-dots loading-xl"></span>
      } @else if (!orders?.length) {
      <div class="text-center text-accent h-full flex items-center">
        <p class="text-5xl">No hay salidas registradas...</p>
      </div>
      } @else {
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th>ID</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (order of orders; track order.id) {
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.total | currency : 'GTQ' : 'symbol-narrow' }}</td>
            <td>
              <span
                class="badge"
                [ngClass]="order.status === 'PAID' ? 'badge-warning' : 'badge-success'"
              >
                {{ order.status === 'PAID' ? 'Procesando' : 'Enviado' }}
              </span>
            </td>
            <td>{{ order.createdAt | date : 'dd/MM/yyyy' }}</td>
            <td>
              @if (order.status === 'PAID') {
              <button
                class="btn btn-warning btn-circle tooltip tooltip-right tooltip-warning"
                data-tip="Enviar"
                (click)="sendOrder(order.id)"
              >
                <i-lucide [img]="Send" size="24" />
              </button>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
    } @if (tab() === 2) {
    <h2 class="text-3xl font-semibold mb-6">Actualizar Stock</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <h3 class="text-xl font-medium mb-4">Seleccionar Artículo</h3>
        <div class="form-control mb-4">
          <fieldset class="fieldset">
            <legend class="fieldset-legend">
              <span>Titulo</span>
            </legend>
            <input
              type="text"
              [formControl]="title"
              name="title"
              class="input input-bordered w-full"
              (change)="changeStatus()"
            />
          </fieldset>
        </div>

        @for (discography of discographies; track discography.id) {
        <div
          class="border rounded-lg p-4 mb-4 hover:bg-primary/20 hover:text-primary cursor-pointer"
          [ngClass]="discography.id === discographyId.value ? 'bg-primary/40 text-primary' : ''"
          (click)="discographyId.setValue(discography.id)"
        >
          <div class="flex items-center gap-3 mb-3">
            <figure class="overflow-hidden aspect-square size-12">
              <img
                [src]="discography.imageUrl"
                [alt]="discography.title"
                class="w-full h-full object-cover"
              />
            </figure>
            <div>
              <div class="font-bold">{{ discography.title }}</div>
              <div class="text-sm text-base-content/70">{{ discography.artist }}</div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-2 text-sm">
            <div><span class="text-base-content/70">Formato:</span> {{ discography.format }}</div>
            <div>
              <span class="text-base-content/70">Stock actual:</span>
              {{ typeof discography.stock === 'number' ? discography.stock : 'Ilimitado' }}
            </div>
            <div>
              <span class="text-base-content/70">Precio:</span>
              {{ discography.price | currency : 'GTQ' : 'symbol-narrow' }}
            </div>
            <div><span class="text-base-content/70">Género:</span> {{ discography.genreName }}</div>
          </div>
        </div>
        }
      </div>

      <div>
        <h3 class="text-xl font-medium mb-4">Agregar Stock</h3>
        <form [formGroup]="purchase" class="space-y-4" (ngSubmit)="addPurchase()">
          <fieldset class="fieldset">
            <legend class="fieldset-legend">
              <span>Cantidad</span>
            </legend>
            <input
              type="number"
              formControlName="quantity"
              name="quantity"
              class="input input-bordered w-full"
            />
          </fieldset>

          <fieldset class="fieldset">
            <legend class="fieldset-legend">
              <span>Costo Unitario</span>
            </legend>
            <input
              type="number"
              formControlName="unitPrice"
              name="unitPrice"
              class="input input-bordered w-full"
            />
          </fieldset>

          <fieldset class="fieldset pointer-events-none">
            <legend class="fieldset-legend">
              <span>Total</span>
            </legend>
            <input
              type="number"
              class="input input-bordered w-full"
              [value]="
                (purchase.get('quantity')?.value || 0) * (purchase.get('unitPrice')?.value || 0) ||
                0
              "
            />
          </fieldset>

          <button type="submit" class="btn btn-primary">Registrar Entrada</button>
        </form>
      </div>
    </div>
    }
  </div>
</div>
