@let discography$ = discography();

<div class="card rounded-none overflow-hidden group shadow-xs shadow-base-content">
  <div class="relative overflow-hidden aspect-square">
    <img
      [src]="discography$.imageUrl || '/assets/images/default-album.png'"
      alt="{{ discography$.title }}"
      class="w-full h-full object-cover"
    />

    <div
      class="absolute inset-0 bg-base-300/60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity"
    >
      <shop-add-item
        [id]="discography$.id"
        productType="discographies"
        [stock]="discography$.stock"
        btnClass="btn-sm"
      />
    </div>

    <div class="absolute top-2 right-0 z-20 px-2 flex items-center justify-between w-full">
      <div class="badge badge-warning badge-soft rounded-4xl gap-1 px-2">
        <span>{{ discography$.rating || '?' }}</span>
        <span class="mask mask-star bg-warning w-5 h-5 flex"> </span>
      </div>

      <img
        [src]="'assets/images/' + discography$.format.toLowerCase() + '.png'"
        alt="Icono de formato"
        height="60"
        width="60"
      />
    </div>

    <div class="absolute bottom-2 right-2 z-20">
      @if (discography$.release) {
      <span class="badge badge-warning badge-sm"
        >Lanzamiento {{ discography$.release | date : 'yyyy' }}</span
      >
      } @else if (typeof discography$.stock === 'number') { @if (discography$.stock > 0) {
      <span class="badge badge-success badge-sm">Ultimas existencias</span>
      } @else {
      <span class="badge badge-error badge-sm">Agotado</span>
      } } @else {
      <span class="badge badge-success badge-sm">Disponible</span>
      }
    </div>
  </div>

  <!-- Información principal -->

  <a [routerLink]="['/products', discography$.id]" class="relative p-4 hover:text-accent">
    <h3 class="font-bold text-lg truncate">{{ discography$.title }}</h3>
    <p class="text-sm truncate">{{ discography$.artist }}</p>

    <div
      class="absolute top-0 right-4 py-4 flex flex-col justify-around items-end h-full bg-base-100"
    >
      <span class="text-success font-semibold">
        {{ discounted(discography$) | currency : 'GTQ' : 'symbol-narrow' }}
      </span>
      <span class="text-base-content/70 text-xs">
        {{ discography$.release ? `Disponible el ${discography$.release | date : 'dd/MM'}` : discography$.year }}
      </span>
    </div>
  </a>
</div>
